body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

main{ 
}

footer{
    background-color: #23272A;
}


/*      DEBUG settings      */

.debug .header_top{
    
}

.debug .header_bottom{
    background-color: #00008B;
}


.debug .navigation_links{
    background-color: #DAA520;
}

.debug .header_top div{
    background-color: #DAA520;
    width: 15%;
}

.debug .header-info{
    background-color: #EE82EE;
}

.dotted{
    border: dotted 2px black;
}

.debug .section_img{
    background: #1E90FF;
}

.debug .reverse_section{
    background-color: #D3D3D3;
}


.debug .section_desc{
    background-color: #EEB5FC;
}

.debug .last_section{
    background-color: #D3D3D3;
}

.debug .last_section_info{
    background-color: #228B22;
}

.debug footer{
    background-color: #23272A;
}


.debug #social{
    background-color: #F08080;
}

.debug .generic_section_footer{
    background-color: #20B2AA;
}
.debug .footer_bottom .container_div_footer{
    background-color: #7FFFD4;
}

.debug .logo_footer{
    background-color: #FFB6C1;
}

.debug .bttn_footer{
    background-color: #FFB6C1;
}

/*  end DEBUG settings*/


.white{
    color: white;
}

.black{
    color: #23272A;
}

.violet{
    color: #7289DA;
}

h1{
    font-size: 45px;
    margin: 0;
}

p{
    font-size: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

a{
    text-decoration: none; 
    color: white;
}

.bttn{
    padding: 11px 18px;
    border-radius: 50px;
    border: none;
}

.login_bttn{
    font-size: 15px;
    background-color: white;
}


.download_bttn{
    font-size: 20px;
    background-color: white; 
    margin-right: 8px;
}

.browser_bttn{
    font-size: 20px;
    color: white;
    background-color: #23272A;  
    margin-left: 8px; 
}

.dwnl_bttn_section{
    font-size: 20px;
    color: white;
    background-color: #7289DA;
    margin: 20px 0 30px;
}

.bttn_footer{
    background-color: #7289DA;
}

.header_top{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #255EE9;
}

.header_top div{
    width: 13%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.navigation_links{
    width: 34%;
}


.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_bottom{
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.header-info{
    width: 50%;
}

.header-info h1{
    text-align: center;
    font-size: 55px;
}

.header-info p{
    text-align: center;
}

.header-info div{
    text-align: center;
}

main section{
    padding: 60px 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reverse_section{
    flex-direction: row-reverse;
    background-color: #F6F6F6;
}

section .section_img{
    width: 45%;
    height: 80%;
}

section .section_desc{
    width: 25%;
    height: 80%;
}


.last_section{
    background-color: #F6F6F6;
    text-align: center;
}

.last_section_info{
    width: 70%;
}

.last_section_info img{
    width: 100%;
}

.last_section_info p{
    padding: 0 25px;
}

.footer_top{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social{
    width: calc(70%/6 *2);
}


#social img{
    height: 18px;
}

.languages{
    margin: 15px 0;   
}

.languages span::before{
    content: "";
}

.generic_section_footer{
    height: 90%;
    width: calc(70%/6);
}

.footer_bottom{
    height: 100px;
    display: flex;
    justify-content: center;
}

.footer_bottom .container_div_footer{
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


i {
    color: white;
    font-size: 20px;
    margin-right: 20px;
}

.bttn_footer{
    padding: 10px 20px;
}


.wave{
    color: #F6F6F6;
}

.wave_reverse{
    transform: rotate(180deg);
}

.ul_container{
    display: flex;
    flex-direction: column;
}

.ul_container li{
    color: white;
    margin-bottom: 20px;
}

.ul_container li:first-child a{
    color: #7289DA;
}

hr{
    border: 1px solid #7289DA;
    width: 70%;
}
